.primer-hijo {
    margin: 30px auto;
    padding: 1rem 2rem;
    width: max-content;
    background-color: red;
    font-size: 2rem;
    text-align: center;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: fill;
}

.segundo-hijo {
    position: absolute;
    inset: 0;
    background-color: grey;
    /*Pone el objeto detras de los demas*/
    z-index: -1;
    clip-path: circle(0% at 50% 6.32%);
    transition: clip-path .5s;
}

.primer-hijo:hover + .segundo-hijo {
    clip-path: circle(150% at 50% 50%);
}