@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli';
  display: flex;
  /*align-items alinea las cosas en el eje Y*/
  align-items: center;
  /*justify-content alinea las cosas en el eje X*/
  justify-content: center;
  height: 100vh;
  /* oculta cualquier contenido que se desborda más allá de los límites del elemento,
   recortándolo y no permitiendo su visualización ni el uso de barras de desplazamiento para acceder a ese contenido adicional.
   overflow: scroll por ejemplo muestra siempre las barras de scroll*/
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
  /*flex-direction: row-reverse cpondria los objetos en la row en la direccion contraria a la que esta escrita*/
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.activet {
  flex: 5;
}

.panel.activet h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}